<!-- <div class="container"> -->
  <div class="dashboard-div">
    <div class="my-bikes col-lg-6">
      <h3>My Bikes</h3>
      <div class="bikes-toggle">
        <button class="all-button">All</button>
        <button class="bookings-button">Bookings</button>
      </div>
      <div class="my-bikes-all">
        <% @bikes.each do |bike|  %>
        <div class="my-bikes-card">
          <%= link_to (cl_image_tag bike.photo.key, height: 205, width: 320, crop: :fill, class: 'bike-db-image'), bike_path(bike)  %>
          <div class="bike-user-photo">
          <%= cl_image_tag bike.user.photo.key, width: 40, height: 40, crop: :fill, class: 'avatar-small'%>
          </div>
          <div class="bike-info-db">
            <h5 class="bike-name-db"> <%= bike.name %> </h5>
            <p class="bike-location-db"> <% split = bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <p class="bike-price-db"> <%= bike.price %>€/day</p>
            <hr>
            <%= link_to 'Remove Bike', bike_path(bike), class: 'remove-bike-button', method: :delete, data: {confirm: "Are you sure you want to remove this bike?"}  %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="my-bikes-bookings">
        <% @booked_bikes.each do |bike|  %>

        <% bike.bookings.each do |booking| %>
        <div class="my-bikes-card">
          <% if booking.status == "Accepted" %>
          <%= link_to (cl_image_tag bike.photo.key, height: 320, width: 320, crop: :fill, class: 'bike-db-image'), bike_path(bike)  %>
          <div class="bike-info-db">
            <h5 class="bike-name-db"> <%= bike.name %> </h5>
            <p class="bike-location-db"> <% split = bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <!-- <p class="bike-card-subhead">Booking dates:</p> -->
            <p class="bike-dates-db"> <%= booking.start_date %> to <%= booking.end_date %></p>
            <div class="total-price-div">
              <p class="bike-dayprice-db">Total price:</p>
              <p class="bike-dayprice-db"> <%= bike.price %>€/day</p>
            </div>
            <hr>
            <div class="booker-user-photo">
            <%= cl_image_tag booking.user.photo.key, width: 40, height: 40, crop: :fill, class: 'avatar-small'%>
            <p class="booked-by-text"> Booked by <%= booking.user.username %></p>
            </div>
            <hr>
            <p class="bike-status-accepted">Booking accepted</p>
          </div>


          <% elsif booking.status == "Declined" %>
          <%= link_to (cl_image_tag bike.photo.key, height: 320, width: 320, crop: :fill, class: 'bike-db-image'), bike_path(bike)  %>
          <div class="bike-info-db">
            <h5 class="bike-name-db"> <%= bike.name %> </h5>
            <p class="bike-location-db"> <% split = bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <!-- <p class="bike-card-subhead">Booking dates:</p> -->
            <p class="bike-dates-db"> <%= booking.start_date %> to <%= booking.end_date %></p>
            <div class="total-price-div">
              <p class="bike-dayprice-db">Total price:</p>
              <p class="bike-dayprice-db"> <%= bike.price %>€/day</p>
            </div>
            <hr>
            <div class="booker-user-photo">
            <%= cl_image_tag booking.user.photo.key, width: 40, height: 40, crop: :fill, class: 'avatar-small'%>
            <p class="booked-by-text"> Booked by <%= booking.user.username %></p>
            </div>
            <hr>
            <div class="delete-declined-booking">
              <p class="bike-status-declined">You declined this booking</p>
            </div>
          </div>

          <% else %>
          <%= link_to (cl_image_tag bike.photo.key, height: 320, width: 320, crop: :fill, class: 'bike-db-image'), bike_path(bike)  %>
          <div class="bike-info-db">
            <h5 class="bike-name-db"> <%= bike.name %> </h5>
            <p class="bike-location-db"> <% split = bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <!-- <p class="bike-card-subhead">Booking dates:</p> -->
            <p class="bike-dates-db"> <%= booking.start_date %> to <%= booking.end_date %></p>
            <div class="total-price-div">
              <p class="bike-dayprice-db">Total price:</p>
              <p class="bike-dayprice-db"> <%= bike.price %>€/day</p>
            </div>
            <hr>
            <div class="booker-user-photo">
            <%= cl_image_tag booking.user.photo.key, width: 40, height: 40, crop: :fill, class: 'avatar-small'%>
            <p class="booked-by-text"> Booked by <%= booking.user.username %></p>
            </div>
            <hr>
            <div class="accept-decline">
              <!-- <p class="bike-booking-status"> Booked by <%= booking.user.username %></p> -->
              <%= link_to "Accept", booking_path(id: booking.id, booking: {status: "Accepted"}), class: "bike-status-accepted", method: :patch %>
              <%= link_to "Decline", booking_path(id: booking.id, booking: {status: "Declined"}), class: "bike-status-declined", method: :patch %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="my-bookings col-lg-6">
      <h3>My Bookings</h3>
      <div class="bookings-toggle">
        <button class="upcoming-button">Upcoming</button>
        <button class="past-button">Past</button>
      </div>
      <div class="my-bookings-upcoming">
        <% @upcoming_bikes.each do |booking|  %>
        <div class="my-bookings-card">

          <% if booking.status == "Accepted" %>
          <%= link_to (cl_image_tag booking.bike.photo.key, height: 320, width: 320, crop: :fill, class: 'bike-db-image'), bike_path(booking.bike)  %>
          <div class="bike-user-photo">
          <%= cl_image_tag booking.bike.user.photo.key, width: 40, height: 40, crop: :fill, class: 'avatar-small'%>
          </div>
          <div class="bike-info-db">
            <h5 class="bike-name-db"> <%= booking.bike.name %> </h5>
            <p class="bike-location-db"> <% split = booking.bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <!-- <p class="bike-card-subhead">Booking dates:</p> -->
            <p class="bike-dates-db"> <%= booking.start_date %> to <%= booking.end_date %></p>
            <div class="total-price-div">
              <p class="bike-dayprice-db">Total price:</p>
              <p class="bike-dayprice-db"> <%= booking.bike.price %>€/day</p>
            </div>
            <hr>
            <p class="bike-status-accepted"> BOOKING <%= booking.status.capitalize %></p>
          </div>

          <% elsif booking.status == "Declined" %>
          <%= link_to (cl_image_tag booking.bike.photo.key, height: 320, width: 320, crop: :fill, class: 'bike-db-image'), bike_path(booking.bike)  %>
          <div class="bike-user-photo">
          <%= cl_image_tag booking.bike.user.photo.key, width: 40, height: 40, crop: :fill, class: 'avatar-small'%>
          </div>
          <div class="bike-info-db">
            <h5 class="bike-name-db"> <%= booking.bike.name %> </h5>
            <p class="bike-location-db"> <% split = booking.bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <!-- <p class="bike-card-subhead">Booking dates:</p> -->
            <p class="bike-dates-db"> <%= booking.start_date %> to <%= booking.end_date %></p>
            <div class="total-price-div">
              <p class="bike-dayprice-db">Total price:</p>
              <p class="bike-dayprice-db"> <%= booking.bike.price %>€/day</p>
            </div>
            <hr>
            <div class="delete-declined-booking">
              <p class="bike-status-declined"> BOOKING <%= booking.status.capitalize %></p>
              <%= link_to booking_path(booking), method: :delete, data: {confirm: "Delete this declined booking?"} do %>
              <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>

          <% else %>
          <%= link_to (cl_image_tag booking.bike.photo.key, height: 320, width: 320, crop: :fill, class: 'bike-db-image'), bike_path(booking.bike)  %>
          <div class="bike-user-photo">
          <%= cl_image_tag booking.bike.user.photo.key, width: 40, height: 40, crop: :fill, class: 'avatar-small'%>
          </div>
          <div class="bike-info-db">
            <h5 class="bike-name-db"> <%= booking.bike.name %> </h5>
            <p class="bike-location-db"> <% split = booking.bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <!-- <p class="bike-card-subhead">Booking dates:</p> -->
            <p class="bike-dates-db"> <%= booking.start_date %> to <%= booking.end_date %></p>
            <div class="total-price-div">
              <p class="bike-dayprice-db">Total price:</p>
              <p class="bike-dayprice-db"> <%= booking.bike.price %>€/day</p>
            </div>
            <hr>
            <p class="bike-booking-status"> BOOKING <%= booking.status.capitalize %></p>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="my-bookings-past">
        <% @past_bikes.each do |booking|  %>
        <div class="my-bookings-card">
          <%= link_to (cl_image_tag booking.bike.photo.key, height: 320, width: 320, crop: :fill, class: 'bike-db-image')  %>
          <div class="bike-user-photo">
          <%= cl_image_tag booking.bike.user.photo.key, width: 40, height: 40, crop: :fill, class: 'avatar-small'%>
          </div>
          <div class="bike-info-db">
            <h5 class="bike-name-db"> <%= booking.bike.name %> </h5>
            <p class="bike-location-db"> <% split = booking.bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <!-- <p class="bike-card-subhead">Booking dates:</p> -->
            <p class="bike-dates-db"> <%= booking.start_date %> to <%= booking.end_date %></p>
            <div class="total-price-div">
              <p class="bike-dayprice-db">Total price:</p>
              <p class="bike-dayprice-db"> <%= booking.bike.price %>€/day</p>
            </div>
            <hr>
            <div class="book-again-review">
              <%= link_to 'Book again', bike_path(id: booking.bike.id), class: "book-again-button"  %>
              <%= link_to 'Review',  new_bike_review_path(bike_id: booking.bike.id), class: "book-again-button"  %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<!-- </div> -->
