<div class="container">
  <div class="dashboard-div">
    <div class="my-bikes col-lg-6">
      <h3>My Bikes</h3>
      <div class="bikes-toggle">
        <button class="all-button">All</button>
        <button class="bookings-button">Bookings</button>
      </div>
      <div class="my-bikes-all">
        <% @bikes.each do |bike|  %>
        <div class="my-bikes-card">
          <%= link_to (cl_image_tag bike.photo.key, height: 170, width: 240, crop: :fill, class: 'bike-db-image')  %>
          <div class="bike-info-db">
            <p class="bike-name-db"> <%= bike.name %> </p>
            <p class="bike-location-db"> <% split = bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <p> Available</p>
            <p class="bike-price-db"> <%= bike.price %>€/day</p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="my-bikes-bookings">
        <% @booked_bikes.each do |bike|  %>
        <div class="my-bikes-card">
          <%= link_to (cl_image_tag bike.photo.key, height: 170, width: 240, crop: :fill, class: 'bike-db-image')  %>
          <div class="bike-info-db">
            <p class="bike-name-db"> <%= bike.name %> </p>
            <p class="bike-location-db"> <% split = bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <p class="bike-dates-db"> <%= bike.bookings[0].start_date %> to <%= bike.bookings[0].end_date %></p>
            <p class="bike-price-db"> <%= bike.price %>€/day</p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="my-bookings col-lg-6">
      <h3>My Bookings</h3>
      <div class="bookings-toggle">
        <button class="upcoming-button">Upcoming</button>
        <button class="past-button">Past</button>
      </div>
      <div class="my-bookings-upcoming">
        <% @upcoming_bikes.each do |booking|  %>
        <div class="my-bookings-card">
          <%= link_to (cl_image_tag booking.bike.photo.key, height: 170, width: 240, crop: :fill, class: 'bike-db-image')  %>
          <div class="bike-info-db">
            <p class="bike-name-db"> <%= booking.bike.name %> </p>
            <p class="bike-location-db"> <% split = booking.bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <p class="bike-dates-db"> <%= booking.start_date %> to <%= booking.end_date %></p>
            <!-- <p class="bike-price-db"> <%= booking.bike.price %>€/day</p> -->
            <p class="bike-booking-status"> BOOKING <%= booking.status.capitalize %></p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="my-bookings-past">
        <% @past_bikes.each do |booking|  %>
        <div class="my-bookings-card">
          <%= link_to (cl_image_tag booking.bike.photo.key, height: 170, width: 240, crop: :fill, class: 'bike-db-image')  %>
          <div class="bike-info-db">
            <p class="bike-name-db"> <%= booking.bike.name %> </p>
            <p class="bike-location-db"> <% split = booking.bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <p class="bike-dates-db"> <%= booking.start_date %> to <%= booking.end_date %></p>
            <!-- <p class="bike-price-db"> <%= booking.bike.price %>€/day</p> -->
            <p class="bike-booking-status"> BOOKING <%= booking.status.capitalize %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  let clickBookings = document.querySelector('.bookings-button');
  let clickAll = document.querySelector('.all-button');
  let myBikesAll = document.querySelector('.my-bikes-all')
  let myBikesBookings = document.querySelector('.my-bikes-bookings')

  clickBookings.addEventListener("click", (event) => {
      if(clickBookings.classList.contains("active")) {
        // clickBookings.classList.remove("active");
        clickAll.classList.remove("disabled");
        myBikesBookings.classList.remove("active");
        myBikesAll.classList.remove("disabled")
      }
      else
        clickBookings.classList.add("active");
        clickAll.classList.add("disabled");
        myBikesBookings.classList.add("active");
        myBikesAll.classList.add("disabled")
    });

  clickAll.addEventListener("click", (event) => {
      if(clickAll.classList.contains("disabled")) {
        clickAll.classList.remove("disabled");
        clickBookings.classList.remove("active");
        myBikesAll.classList.remove("disabled")
        myBikesBookings.classList.remove("active");
      }
      else
        // clickAll.classList.add("disabled");
        clickBookings.classList.remove("active");
        myBikesAll.classList.remove("disabled")
        myBikesBookings.classList.add("disabled");
    });
</script>

<script>
  let clickPast = document.querySelector('.past-button');
  let clickUpcoming = document.querySelector('.upcoming-button');
  let myBookingsUpcoming = document.querySelector('.my-bookings-upcoming')
  let myBookingsPast = document.querySelector('.my-bookings-past')

  clickPast.addEventListener("click", (event) => {
      if(clickPast.classList.contains("active")) {
        // clickPast.classList.remove("active");
        clickUpcoming.classList.remove("disabled");
        myBookingsPast.classList.remove("active");
        myBookingsUpcoming.classList.remove("disabled")
      }
      else
        clickPast.classList.add("active");
        clickUpcoming.classList.add("disabled");
        myBookingsPast.classList.add("active");
        myBookingsUpcoming.classList.add("disabled")
    });

  clickUpcoming.addEventListener("click", (event) => {
      if(clickUpcoming.classList.contains("disabled")) {
        clickUpcoming.classList.remove("disabled");
        clickPast.classList.remove("active");
        myBookingsUpcoming.classList.remove("disabled");
        myBookingsPast.classList.remove("active")
      }
      else
        // clickUpcoming.classList.add("disabled");
        clickPast.classList.remove("active");
        myBookingsUpcoming.classList.remove("disabled");
        myBookingsPast.classList.remove("active")
    });
</script>
