<% if @bikes.count == 0 %>
<h3 class="no-results">Sorry, no bikes available in that location!</h3>
<%= image_tag ("no-results.jpg"), class: "no-results-image" %>
<% else %>
<div class="index-container">
  <div class="bike-results-div col-lg-5">
    <h3> Found <%= @bikes.count %> bikes</h3>

    <div class="filter-buttons">
      <p>Filter by:</p>
      <div class="price-button"> Price </div>
      <div class="category-button"> Category </div>
    </div>

    <div class="results-map-div">
      <div class="bike-result-cards">
        <% @bikes.each do |bike| %>
        <div class="results-cards">
          <%= link_to (cl_image_tag bike.photo.key, height: 210, width: 300, crop: :fill, class: 'bike-index-image'), bike_path(bike)  %>
          <div class="bike-info">
            <p class="bike-name-text"> <%= bike.name %> </p>
            <p class="bike-location-text"> <% split = bike.address.split(",") %> <%= split[1]%>,<%= split[3] %></p>
            <p class="bike-description-text"> <%= bike.description %></p>
            <p class="bike-price-text"> <%= bike.price %>€/day</p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="map-div">
  <div id="map"
  style=" height: calc(100vh - 70px); width: calc(100vw * (7 / 12));"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>

<% end %>
</div>
