<div class="container">
  <div class="name-price row col-lg-10">
    <h3 class="bike-name-big"> <%= @bike.name %></h3>
    <h3 class="bike-price-big"> <%= @bike.price %>€/day</h3>
  </div>
  <div class="bike-image row col-lg-10">
    <%= cl_image_tag @bike.photo.key, width: 800, crop: :fill, class: 'bike-show-image' %>
  </div>
</div>

<div class="blue-bg">
  <div class="container">
    <div class="bike-information row col-lg-10">
      <div class="bike-user-info col-lg-8">
        <div class="name-address">
          <p class="bike-name-small"> <%= @bike.name %> -&nbsp;</p>
          <p class="bike-address-small"> <% split = @bike.address.split(",") %> <%=  split[1]%>,<%= split[3] %></p>
        </div>
        <p class="bike-description"> <%= @bike.description %></p>
        <hr>
        <div class="user-image-bio">
          <%= cl_image_tag @bike.user.photo.key, width: 80, height: 80, crop: :fill, class: 'avatar' %>
          <div class="about-owner">
            <p><strong> About the owner, <%= @bike.user.username %></strong> </p>
            <p> <%= @bike.user.bio %></p>
          </div>
        </div>
      </div>
      <% if current_user != @bike.user  %>
      <div id='bike-booking-dates' class=" date-selector col-lg-4" data-unavailable="<%= @bike.unavailable_dates.to_json %>">
        <!-- ADD PRICE AND RATINGS -->
        <%= simple_form_for [@bike, @booking] do |f| %>
        <%= f.input :start_date, class: "start_date", data: { behavior: "flatpickr" }, value: @start_date %>
        <%= f.input :end_date, class: "end_date", data: { behavior: "flatpickr" }, value: @end_date %>
        <% if user_signed_in? %>
        <%= f.submit "Request Booking", class: 'booking-button' %>
        <% else %>
        <%= link_to "Login to request a booking", new_user_session_path, class: 'booking-button' %>
        <% end %>
        <% end %>
        <% else %>
        <p>Hello</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="review-container col-lg-10">
    <div class="review-header">
      <h3>Reviews</h3>
    </div>
    <div class="bike-reviews">
      <% @bike.reviews.order(created_at: :desc).each do |review| %>
      <div class="review-tile">
        <%= cl_image_tag review.user.photo.key, width: 80, height: 80, crop: :fill, class: 'avatar' %>
        <div class="review-content">
          <div class="review-name-date-stars">
            <div class="review-name-date">
            <p><strong> <%= review.user.username %> -&nbsp;</strong></p>
            <p> <%= review.created_at %> </p>
          </div>
          <div class="review-stars">
            <i class="fas fa-star"></i><%= review.rating %>
          </div>
        </div>
          <p> <%= review.description %> </p>
      </div>
    </div>
      <% end %>
  </div>
</div>
